.center {
    padding: 70px 0;
    border: 3px solid black;
    text-align: center;
    background-color: rgb(255, 255, 255);
    opacity:1;
  
  }
  
  .bg {
   background-color: rgb(255, 255, 255);
   opacity: 1;
  }
  .button_scheme{
    width: 290px;
    //color: green;
  }
  .cen{
    //text-align: center;
    width: 20%;
    margin-left: 10%;
    //margin-right: 10%
  }
  #blurr{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    z-index: 0;
  
  }
  
  #cardd{
    position: absolute;
    z-index:1
  }
  
  ion-content{
    z-index: -1;
  }
