<ion-tabs color="main1">
  <ion-tab tabIcon="home" [root]="homePage"></ion-tab>
  <ion-tab tabIcon="time" [root]="bidsPage"></ion-tab>
  <!-- <ion-tab tabIcon="checkbox-outline" [root]="activeBidsPage"></ion-tab> -->
  <ion-tab tabIcon="list-box" [root]="ordersPage"></ion-tab>
  <ion-tab tabIcon="person" [root]="profilePage"></ion-tab>
</ion-tabs>