<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="main1">
    <ion-title>register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding color="main1">
    <!-- <div #map id="map"></div>   -->


  <form [formGroup]="form">
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input [formControl]="form.controls['name']"
          type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input [formControl]="form.controls['email']"
          type="email"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [formControl]="form.controls['password']"
          type="password"></ion-input>
    </ion-item>   
    <ion-item>
      <ion-label floating>Contact</ion-label>
      <ion-input [formControl]="form.controls['contact']"
          type="text"></ion-input>
    </ion-item>  

    <ion-row>
      <ion-col text-center>
        <button ion-button block color="main1" (click)="register(form.value)">
          Next
        </button>
      </ion-col>
    </ion-row>
  
  </form>
</ion-content>
