<!--
  Generated template for the CheckoutInvoicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="main1">
    <ion-title>Checkout Invoice for {{bid.patientName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <b *ngIf="bid.urgent">Urgent Order! Deliver by {{bid.by}}!</b>
        <ion-item *ngFor="let med of medicines; let i = index">
          <div item-start>
            <h2>{{med['Name']}}, {{med['Type']}}</h2>
           <!-- <p> {{med['Company']}} </p>-->
            <p> {{med['Dosage']}}, {{med['Quantity']}} </p>
            <p> Generic : {{med['Generic Name']}}</p>
            <h3>{{med['Units']}} Units</h3>
          </div>
    
          <div item-end>
            <div class="cen-accept">
              <ion-row>
                <ion-col>
                 <h3> {{med['Price']}} INR per Unit</h3>
                </ion-col>
                
                <!--<ion-col style="display:flex;justify-content:center;align-items:center">
                  {{med['Units']}} Units
                </ion-col>-->
              
                <ion-col>
                  <h3>{{med['Total']}} INR</h3>
                </ion-col>
              </ion-row>
            </div>
         
          </div>
        </ion-item>
      </ion-list>
      

      <!-- <p> Total : {{bid.total}}</p> -->
      <ion-item>
        <ion-label stacked><h3>Total :</h3></ion-label>
       <ion-input (ionChange)="isValid()" [(ngModel)]="bid.total"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating><h3>Dispatched by</h3></ion-label>
        <ion-datetime (ionChange)="isValid()" displayFormat="DD/MM/YYYY" [(ngModel)]="dispatchDate" [min]="date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label floating><h3>Time</h3></ion-label>
        <ion-datetime (ionChange)="isValid()" displayFormat="hh:mm a" [(ngModel)]="dispatchTime"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label fixed><h3>Delivery</h3></ion-label>
        <ion-checkbox (ionChange)="isValid()" [(ngModel)]="delivery"></ion-checkbox>
      </ion-item>

      <button *ngIf="valid" ion-button small round block color="main2"(click)="confirmBid()">Accept!</button>
</ion-content>
