<!--
  Generated template for the ChangeStatusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="main1">
    <ion-title>ChangeStatus</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding color="main1">

  <ion-item>
    <ion-label>Message</ion-label>
    <ion-input [(ngModel)]="message"></ion-input>

  </ion-item>
  <ion-item>
    <ion-label>Delivered?</ion-label>
    <ion-checkbox color="main2" [(ngModel)]="delivered"></ion-checkbox>
  </ion-item>

  <button ion-button color="main2" (click)="submit()">Submit</button>
</ion-content>
