<!--
  Generated template for the ImageInvoicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="main1">
    <ion-title>ImageInvoicePage</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img [src]="bid.url">

  <ion-row>
    <span ion-button color="main1" float-left icon-left clear (click)="addNewInputField()">
      <ion-icon name="add"></ion-icon>
      Add a new medicine
    </span>
  </ion-row>


  <form [formGroup]="form" (ngSubmit)="manage(form.value)">
    <ion-list margin-bottom>
      <!-- Assign the technologies FormArray to the form
            where we want to track/generate new input track fields -->

      <div formArrayName="medicines" margin-bottom>
        <section [formGroupName]="i" *ngFor="let tech of form.controls.medicines.controls; let i = index">
          <ion-item-group>
            <ion-item-divider color="light">Medicine #{{ i + 1 }}</ion-item-divider>
          </ion-item-group>
          <ion-card>
            <ion-card-content>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label stacked color="main1"> Name </ion-label>
                    <ion-input type="text" formControlName="Name"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col>
                  <ion-item>
                    <ion-label stacked color="main1"> Price </ion-label>
                    <ion-input type="text" formControlName="Price"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col>
                  <ion-item>
                    <ion-label stacked color="main1"> Units </ion-label>
                    <ion-input type="text" formControlName="Units"></ion-input>
                  </ion-item>
                </ion-col>

              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label stacked color="main1"> Alternative For </ion-label>
                    <ion-input type="text" formControlName="AlternativeFor"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col>
                  <span float-right ion-button color="main1" icon-left clear *ngIf="form.controls.medicines.length > 1"
                    (click)="removeInputField(i)">
                    <ion-icon name="close"></ion-icon>
                    Remove
                  </span>
                </ion-col>

              </ion-row>


            </ion-card-content>
          </ion-card>
        </section>
      </div>
    </ion-list>

   
  </form>
  <ion-item>
    <ion-label floating><h3>Dispatched by</h3></ion-label>
    <ion-datetime (ionChange)="isValid()" displayFormat="DD/MM/YYYY" [(ngModel)]="dispatchDate" [min]="date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label floating><h3>Time</h3></ion-label>
    <ion-datetime (ionChange)="isValid()" displayFormat="hh:mm a" [(ngModel)]="dispatchTime"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label fixed><h3>Delivery</h3></ion-label>
    <ion-checkbox [(ngModel)]="delivery"></ion-checkbox>
  </ion-item>
  <button *ngIf="valid" ion-button block margin-top color="main2" (click)="confirmBid(form.value)" text-center [disabled]="!form.valid">Send Proforma
    Invoice</button>

</ion-content>
