<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="main1">
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button block round color="main1light" (click)="goToActiveBids()"> View Active Bids</button>
</ion-content>
