<!--
  Generated template for the ViewRequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="main1"> 

    <ion-title>ViewRequest</ion-title>

    <ion-buttons end>
      <button ion-button color="notifs">
        Reject
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
      <img src="https://cdn.shopify.com/s/files/1/1035/5433/products/il_fullxfull.948762402_34az.jpeg?v=1538138574"/>
  </ion-card>

  <button ion-button full color="main1" (click)="addNewInputField()">Add Medicine</button>

  <form [formGroup]="form" (ngSubmit)="manage(form.value)">
      <ion-list margin-bottom>
        <!-- Assign the technologies FormArray to the form
              where we want to track/generate new input track fields -->
  
        <div formArrayName="medicines" margin-bottom>
          <section [formGroupName]="i" *ngFor="let tech of form.controls.medicines.controls; let i = index">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label stacked color="main1"> Name </ion-label>
                  <ion-input type="text" formControlName="name"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                    <ion-label stacked color="main1">Alternative For</ion-label>
                    <ion-input type="text" formControlName="alternativeFor"></ion-input>
                  </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label stacked color="main1"> Qty </ion-label>
                  <ion-input type="number" formControlName="qty"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                  <ion-item>
                    <ion-label stacked color="main1"> Price/qty </ion-label>
                    <ion-input type="number" formControlName="pricePerUnit"></ion-input>
                  </ion-item>
                </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label stacked color="main1"> Price </ion-label>
                  <ion-input disabled formControlName="subTotal" value="{{form.controls.medicines.controls[i].controls.pricePerUnit.value * form.controls.medicines.controls[i].controls.qty.value}}"></ion-input>
                </ion-item>
                <span float-right ion-button icon-left clear *ngIf="form.controls.medicines.length > 1" (click)="removeInputField(i)">
                  <ion-icon name="close"></ion-icon>
                </span>
              </ion-col>
            </ion-row>
         
          </section>
        </div>  
      </ion-list>
  
      <!-- Only allow form to be submitted IF validation criteria for
              input fields has been successfully passed -->
      <button ion-button block margin-top color="main2" text-center [disabled]="!form.valid">Place Bid</button>
    </form>
</ion-content>
