
<ion-header>
  <ion-navbar color="main1">
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card color="notifs">
    <ion-card-header color="light">
      Pending
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-row>
          <ion-col>
            Patient Name
          </ion-col>
          <ion-col>
            <button ion-button small  color="main2light" (click)="accept()">Accept</button>
            <button ion-button small color="notifs">Reject</button>

          </ion-col>
        </ion-row>
      </ion-item>

    </ion-list>
  </ion-card>

  <ion-card color="main1light">
    <ion-card-header color="light">
      Bids
    </ion-card-header>
    <ion-list>
      <button ion-item>
        Dr. Asthana
      </button>

    </ion-list>
  </ion-card>

  <ion-card color="main2">
      <ion-card-header color="light">
        Active Orders 
      </ion-card-header>
      <ion-list>
        <button ion-item>
          Dr. Asthana
        </button>
  
      </ion-list>
    </ion-card>
</ion-content> 


<!--<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header color="danger">
      Pending
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-row>
          <ion-col>
            Patient Name
          </ion-col>
          <ion-col>
            <button ion-button color="primary" (click)="accept()">Accept</button>
            <button ion-button color="primary">Reject</button>

          </ion-col>
        </ion-row>
      </ion-item>

    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header color="danger">
      Bids
    </ion-card-header>
    <ion-list>
      <button ion-item>
        Dr. Asthana
      </button>

    </ion-list>
  </ion-card>

  <ion-card>
      <ion-card-header color="danger">
        Active Orders 
      </ion-card-header>
      <ion-list>
        <button ion-item>
          Dr. Asthana
        </button>
  
      </ion-list>
    </ion-card>
</ion-content> -->





<!-- <h1>Hello</h1> -->