<!--
  Generated template for the BidsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="main1">
    <ion-title>BidsPage</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let req of unseen">
    <ion-row>
      <ion-col>
       <h3>{{req.date}}</h3> 
      </ion-col>
      <ion-col>
       <b class="patient-name"> {{req.patientName}}</b>
      </ion-col>
      <ion-col>
        <button ion-button small round color="main1" (click)="goToCheckoutInvoicePage(req)">More Info</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- {{req.urgent}} -->
        <b *ngIf="req.urgent">Urgent Order!</b>
      </ion-col>
      <ion-col>
        {{req.total}} INR
      </ion-col>
      <ion-col>
          <button ion-button small round color="notifs" (click)="rejectBid()">Reject</button>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
