<ion-header>
  <ion-navbar color="main1">
    <ion-title>Orders</ion-title>
</ion-navbar>
</ion-header>
<ion-content>
  <ion-content>
    <ion-item>
      <ion-label>Show Only</ion-label>
      <ion-select (ionChange)="filter()" [(ngModel)]="filterPrescriptionBy">
        <ion-option value="1" selected="true">Active</ion-option>
        <ion-option value="2">Past</ion-option>
      </ion-select>
    </ion-item>
  
    <ion-card *ngFor="let order of orders">
        <ion-row>
          <ion-col>
             <b>{{order.patientName}}</b>
          </ion-col>
          <ion-col>
                  <button ion-button color="main1" (click)="goToOrderDetails(order)"> View Details </button>
              </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <b>Status</b> : {{order.statusDesc[order.statusDesc.length - 1].message}}
          </ion-col>
          <ion-col>
            <button *ngIf="order.status == 1" ion-button small round color="main1light" (click)="changeStatus(order)"> Change Status </button>
          </ion-col>
        </ion-row>
        
    </ion-card>
  </ion-content>
</ion-content>
