<!--
  Generated template for the ActivebidsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="main1">
    <ion-title>Active Bids</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let bid of active">
    <ion-card-content color="main1">
     <b>{{bid.patientName}}</b>, {{bid.total}} <br>
     <b>Status</b> : Active
    </ion-card-content>
  </ion-card>
</ion-content>
