<!--
  Generated template for the Register_2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="main1">
    <ion-title>Addresses</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding color="main1">
  <div #map id="map"></div> 

  <div id="nonMap"> 
    <button ion-button (click)="setLocation()">Set</button>
      
        <ion-item>
          <ion-label stacked>Address</ion-label>
          <ion-input [(ngModel)]="address"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>City</ion-label>
          <ion-input [(ngModel)]="city" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Locality</ion-label>
          <ion-input [(ngModel)]="locality" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>PIN Code</ion-label>
          <ion-input [(ngModel)]="postalCode"></ion-input>
        </ion-item>

        <button ion-button block color="main2" (click)="submit()">Submit</button>
  </div>

</ion-content>
